 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 577px;
}

.u-section-1 .u-form-1 {
  height: 132px;
  width: 523px;
  margin: 15px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  width: 100px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-table-1 {
  height: 350px;
  margin: 0 0 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}